ul.b{
	list-style-type: square;
}
table, tr, th, td{
                border: 2px solid black;
                border-collapse: collapse;
            } 
th, td{
                padding: 10px;
                text-align: left;
            }
th{
	font-weight: bold;
}
table.sec{
	background-color: lightblue;
}
table.oliv, tr.oliv, th.oliv, td.oliv{
	border: 2px solid olive;
}
tr.odd{
	background-color: #CCD1D1;
}